.logo{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.589);
  box-shadow: 0px 10px 10px 20px rgba(0, 0, 0, 0.589);
  width: 100%;
  padding: 2px;
}

.logoIMG{
  width: 50%;
}

.logo h1{
  font-family: 'Saiyan Sans - Left Oblique', sans-serif;
  font-size: 50px;
  font-weight: bolder;
  background-color: rgb(255, 174, 0);
  color: rgb(201, 0, 0);
  -webkit-text-stroke-color: rgb(0, 0, 0) ;
  -webkit-text-stroke-width: 0.2px ;
  border-radius: 10px;
  width: 14%;
  height: 100%;
  letter-spacing: -2px;
}

.wrapCards{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: column;
}

.input{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding-top: 3%;
}

.input input{
  border: none;
  border: 2px solid black;
  border-radius: 10px;
  height: 35px;
  width: 80%;
  font-size: 19px;
  padding: 5px;
}

@media (width >= 768px){
  .logo{
    height: 10%;
    gap: 5px;
  }

  .logoIMG{
    width: 25%;
    height: auto;
    flex-wrap: wrap;
  }

  .logo h1{
    letter-spacing: -5px;
    font-size: 6vw;
    height: 8vw;
    width: 8.5%;
    padding: 20px;
    border-radius: 100%;
    border: 0.3vw solid black;
  }

  .wrapCards{
    flex-direction: row;
    padding-left: 400px;
    padding-right: 400px;
    gap: 60px;
  }

  .input input{
    width: 700px;
  }
}
